.idea
vendor
iam-policy-json-to-terraform.exe
iam-policy-json-to-terraform_alpine
iam-policy-json-to-terraform_amd64
iam-policy-json-to-terraform_arm64
iam-policy-json-to-terraform_darwin
iam-policy-json-to-terraform_darwin_arm
web.js*
node_modules
web/screenshots
docs
web/backstop_data/html_report
web/backstop_data/bitmaps_test
web/wasm.wasm
web/wasm_exec.js
.bin
web/version.txt
